body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #303030;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #424242;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #555;
    color: #fff;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
#progressBar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    transition: width 0.3s ease;
}
